@font-face {
  font-family: 'TT Norms Pro';
  src: url('./TT\ Norms\ Pro\ Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'TT Norms Pro';
  src: url('./TT\ Norms\ Pro\ Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'TT Norms Pro';
  src: url('./TT\ Norms\ Pro\ DemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'TT Norms Pro';
  src: url('./TT\ Norms\ Pro\ Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
